<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.BoardMapper">

	<select id="selectBoardList" resultType="hashmap">
		SELECT
			board_no,
			user_id,
			user_name,
			board_title,
			board_content,
			DATE_FORMAT(input_date, '%Y-%m-%d %H:%i:%s') AS input_date,
			IF(update_date = '0000-00-00 00:00:00', '-', update_date) AS update_date
		FROM tb_board
	</select>
	
</mapper>
