<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">
	
<head>
	<meta charset="UTF-8"/>
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	
	<script>
		$(document).ready(function() {
			selectBoardList();
		});
		
		function selectBoardList(){
			
			let header = $("meta[name='_csrf_header']").attr("content");
			let token = $("meta[name='_csrf']").attr("content"); 
			
			console.log(header+" :: "+token);
			
			$.ajax({
				cache : false,
				type : "POST",
				url : "/board/list/get",
				data : JSON.stringify({flag: "test"}),
				dataType : "JSON",
				contentType : "application/json; charset=utf-8",
				beforeSend : function(xhr) { // 데이터를 전송하기 전에 헤더에 csrf값을 설정한다
					xhr.setRequestHeader(header, token);
				},
				success : function(result) {
					if(result.resultCode === 0){
						
						let inserHtml = "";
						for(let i=0; i<result.boardList.length; i++){
							let getData = result.boardList[i];
							
							inserHtml += "<tr>";
							inserHtml += "<td>"+getData.board_no+"</td>";
							inserHtml += "<td>"+getData.user_id+"</td>";
							inserHtml += "<td>"+getData.user_name+"</td>";
							inserHtml += "<td>"+getData.board_title+"</td>";
							inserHtml += "<td>"+getData.board_content+"</td>";
							inserHtml += "<td>"+getData.input_date+"</td>";
							inserHtml += "<td>"+getData.update_date+"</td>";
							inserHtml += "</tr>";
						}
						
						$("#boardTbody").html(inserHtml);
						
					} else {
						alert("서버 에러");
					}
				},
				error : function() {
					alert("서버통신 에러");
				}
			});
		}
	</script>
</head>

<div layout:fragment="content">
	<div class="container">
		<h1>게시판</h1>
		<div th:if="${session.user_id eq null}" style="text-align: right;"><span>비회원</span>&nbsp;님</div>
		<div th:if="${session.user_id ne null}" style="text-align: right;"><span th:text="${session.user_id}"></span>&nbsp;님</div>
		
		<div style="text-align: -webkit-center;">
			<table class="table table-striped col-8" style="text-align: center; white-space: nowrap;">
				<thead class="thead-dark">
					<tr>
						<th>No</th>
						<th>ID</th>
						<th>이름</th>
						<th>제목</th>
						<th>내용</th>
						<th>입력 날짜</th>
						<th>수정 날짜</th>
					</tr>
				</thead>
				<tbody id="boardTbody">
				</tbody>
			</table>
		</div>
		<a href="/"><button class="btn btn-md btn-info mb-3">메인</button></a>
		<a href="/logout"><button class="btn btn-md btn-warning mb-3">로그아웃</button></a>
	</div>
</div>
</html>