<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8" />
	
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	
	<script src="/js/jQuery.3.5.1.compressed.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
	<header th:replace="fragments/header :: headerFragment"></header>
	
	<div class="container-fluid mt-3 mb-3">
		<div class="row">
			<div th:replace="fragments/leftNavi :: leftNaviFragment"></div>
			
			<div layout:fragment="content"></div>
		</div>
	</div>
	
	<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>