<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">
	
<head>
	<meta charset="UTF-8"/>
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	
	<style>
		#hmm{
			background-color: lavender;
		}
	</style>
	
	<script th:inline="javascript">
		$(document).ready(function() {
			
			if("[[${resultCode}]]" === "0"){
				let userList = [[${userList}]];
				userList.forEach(function(item){
					console.log(item.user_no);
			    });
			} else {
				alert("관리자에게 문의바랍니다.");
			}
			/* Ajax 로그인 */
			// 로그인 모달
			$(document).on("click", "#loginBtn", function(){
				//console.log("DOM :: "+$(this).html());
				$("#loginModal").modal("show");
			});
			
			// 로그인
			$(document).on("click", "#loginDo", function(){
				
				let objParam = {
						user_id : $("#userId").val(),
						user_password : $("#userPw").val()
				};
				
				$.ajax({
					cache : false,
					type : "POST",
					url : "/signIn",
					data : JSON.stringify(objParam),
					dataType : "JSON",
					contentType : "application/json; charset=utf-8",
					success : function(result) {
						if(result.resultCode === 0){
							location.reload();
						} else if(result.resultCode === 88) {
							alert("로그인 실패");
						} else{
							alert("서버 에러");
						}
					},
					error : function() {
						alert("서버통신 에러");
					}
				});
			});
			
			// 로그아웃
			$(document).on("click", "#logoutBtn", function(){
				
				$.ajax({
					cache : false,
					type : "POST",
					url : "/signOut",
					data : JSON.stringify({flag: "signOut"}),
					dataType : "JSON",
					contentType : "application/json; charset=utf-8",
					success : function(result) {
						if(result.resultCode === 0){
							location.reload();
						} else{
							alert("서버 에러");
						}
					},
					error : function() {
						alert("서버통신 에러");
					}
				});
			});
			/* Ajax 로그인 끝 */
		});
		/* 크롤링 */
		function crawling(){
			
			let header = $("meta[name='_csrf_header']").attr("content");
			let token = $("meta[name='_csrf']").attr("content");
			
			$.ajax({
				cache : false,
				type : "POST",
				url : "/crawling.do",
				data : JSON.stringify({flag: "crawling"}),
				dataType : "JSON",
				contentType : "application/json; charset=utf-8",
				beforeSend : function(xhr) { // 데이터를 전송하기 전에 헤더에 csrf값을 설정한다
					xhr.setRequestHeader(header, token);
				},
				success : function(result) {
					if(result.resultCode === 0){
						console.log("------------------------------------------ html");
						console.log(result.htmlArray[0]);
						console.log("------------------------------------------ text");
						console.log(result.htmlArray[1]);
					} else{
						alert("서버 에러");
					}
				},
				error : function() {
					alert("서버통신 에러");
				}
			});
		}
		/* 크롤링 끝 */
	</script>
</head>

<div layout:fragment="content">
	<div class="container mt-2 mb-2" style="border: 1px solid red;">
		<!-- <p id="hmm" th:text="${resultCode}"></p> -->
		<div th:if="${session.user_id eq null}" style="text-align: right;" class="mt-3"><span>비회원</span>&nbsp;님</div>
		<div th:if="${session.user_id ne null}" style="text-align: right;" class="mt-3"><span th:text="${session.user_id}"></span>&nbsp;님</div>
		<div>ID : <span sec:authentication="name"></span></div>
    	<div>소유 권한 : <span sec:authentication="authorities"></span></div>
    	
		<div style="text-align: -webkit-center;">
			<table class="table table-striped col-4" style="text-align: center; white-space: nowrap;">
				<thead class="thead-dark">
					<tr>
						<th>No</th>
						<th>ID</th>
						<th>등록날짜</th>
					</tr>
				</thead>
				<tbody th:each="list: ${userList}">
			        <tr>
			            <td th:text="${list.user_no}"></td>
			            <td th:text="${list.user_id}"></td>
			            <td th:text="${list.input_date}"></td>
			        </tr>
			    </tbody>
			</table>
		</div>
		<div class="row">
			<!-- Spring Security 미사용시 로그인 -->
<!-- 			<div th:if="${session.userMap eq null}"><button id="loginBtn" class="btn btn-sm btn-warning ml-3 mr-3 mb-3">로그인</button></div>
			<div th:if="${session.userMap ne null}"><button id="logoutBtn" class="btn btn-sm btn-warning ml-3 mr-3 mb-3">로그아웃</button></div> -->
			<a href="board/list"><button class="btn btn-sm btn-info mb-3 ml-3 mr-3">게시판</button></a>
			<!-- <a sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a> -->
			<a sec:authorize="isAnonymous()" th:href="@{/login}" class="mr-3">로그인</a><!-- 익명 -->
		    <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="mr-3">로그아웃</a><!-- 인증된 사용자 -->
		    <p sec:authorize="hasAuthority('ROLE_test1')" class="mr-3">hasAuthority('ROLE_test1')</p>
		    <p sec:authorize="hasAuthority('ROLE_else')" class="mr-3">hasAuthority('ROLE_else')</p>
		    <p sec:authorize="hasRole('ROLE_test1')" class="mr-3">hasRole('ROLE_test1')</p>
		    <p sec:authorize="hasRole('ROLE_else')" class="mr-3">hasRole('ROLE_else')</p>
		</div>
		<div>
			<button class="btn btn-md" onclick="crawling();">Crawling ㄱㄱ</button>
		</div>
	</div>
	
	<!-- 로그인 Modal -->
	<div id="loginModal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">로그인 Modal</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">아이디</span>
						</div>
						<input type="text" id="userId" class="form-control">
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">비밀번호</span>
						</div>
						<input type="password" id="userPw" class="form-control">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="loginDo" class="btn btn-primary">로그인</button>
					<!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
				</div>
			</div>
		</div>
	</div>
	<!-- 로그인 Modal 끝 -->
</div>
</html>