<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	
	<title>로그인 실패</title>
</head>

<div layout:fragment="content">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-4 mt-3 mb-3">
				<p style="text-align: center">로그인 실패</p>
			</div>
			<div class="col-4 mt-3 mb-3">
				<a href="/"><button class="btn btn-md btn-info mb-3">메인으로</button></a>
			</div>
		</div>
	</div>
</div>
</html>