<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	
	<script src="/js/jQuery.3.5.1.compressed.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	
	<title>로그인</title>
</head>

<div class="container">
	<div class="col-4 offset-md-4 mt-3 mb-3">
		<form action="/login.do" method="post">

			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">아이디</span>
				</div>
				<input type="text" name="user_id" class="form-control">
			</div>

			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">비밀번호</span>
				</div>
				<input type="password" name="user_password" class="form-control">
			</div>
			
			<button type="submit" class="btn btn-outline-secondary">로그인</button>
		</form>
	</div>
	
	<div class="col-4 offset-md-4">
		<a href="/"><button class="btn btn-md btn-info mb-3">메인으로</button></a>
	</div>
</div>
</html>