<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>
</head>

<div th:fragment="leftNaviFragment" class="col-2" style="border: 1px solid lightgray; padding-top: 1vh;">
	<script>
		/* 크롤링 */
		function crawling(){
			
			let header = $("meta[name='_csrf_header']").attr("content");
			let token = $("meta[name='_csrf']").attr("content");
			
			$.ajax({
				cache : false,
				type : "POST",
				url : "/crawling.do",
				data : JSON.stringify({flag: "crawling"}),
				dataType : "JSON",
				contentType : "application/json; charset=utf-8",
				beforeSend : function(xhr) { // 데이터를 전송하기 전에 헤더에 csrf값을 설정한다
					xhr.setRequestHeader(header, token);
				},
				success : function(result) {
					if(result.resultCode === 0){
						console.log("------------------------------------------ html");
						console.log(result.htmlArray[0]);
						console.log("------------------------------------------ text");
						console.log(result.htmlArray[1]);
					} else{
						alert("서버 에러");
					}
				},
				error : function() {
					alert("서버통신 에러");
				}
			});
		}
		/* 크롤링 끝 */
		/* 이메일 전송 */
		function sendEmail(){
			let header = $("meta[name='_csrf_header']").attr("content");
			let token = $("meta[name='_csrf']").attr("content");
			
			$.ajax({
				cache : false,
				type : "POST",
				url : "/sendEmail.do",
				data : JSON.stringify({flag: "email"}),
				dataType : "JSON",
				contentType : "application/json; charset=utf-8",
				beforeSend : function(xhr) { // 데이터를 전송하기 전에 헤더에 csrf값을 설정한다
					xhr.setRequestHeader(header, token);
				},
				success : function(result) {
					alert(result.resultBoolean);
				},
				error : function() {
					alert("서버통신 에러");
				}
			});
		}
		/* 이메일 전송 끝 */
		/* netty Socket 통신 */
		function nettyFunc(){
			let header = $("meta[name='_csrf_header']").attr("content");
			let token = $("meta[name='_csrf']").attr("content");
			
			$.ajax({
				cache : false,
				type : "POST",
				url : "/nettySocket.do",
				data : JSON.stringify({flag: "netty"}),
				dataType : "JSON",
				contentType : "application/json; charset=utf-8",
				beforeSend : function(xhr) { // 데이터를 전송하기 전에 헤더에 csrf값을 설정한다
					xhr.setRequestHeader(header, token);
				},
				success : function(result) {
					alert(result.resultCode);
				},
				error : function() {
					alert("서버통신 에러");
				}
			});
		}
		/* netty Socket 통신 끝 */
	</script>
	<div class="mb-3">
		<a href="/board/list"><button class="btn btn-md btn-outline-primary">게시판</button></a>
	</div>
	<div class="mb-3">
		<button class="btn btn-md btn-outline-secondary" onclick="crawling();">Crawling ㄱㄱ</button>
	</div>
	<div class="mb-3">
		<button class="btn btn-md btn-outline-danger" onclick="sendEmail();">이메일 전송</button>
	</div>
	<div class="mb-3">
		<button class="btn btn-md btn-outline-info" onclick="nettyFunc();">netty 소켓 통신</button>
	</div>
</div>
</html>